$primary:       #6c6ce5;
$secondary:     #6a6c81;
$success:       #5da56f;
$info:          #6094a6;
$warning:       #ffd15c;
$danger:        #ff4c60;
$light:         #fff;
$dark:          #20212a;

$border-radius: 1.5rem;
$input-btn-padding-y: .75rem;
$input-btn-padding-x: 1rem;

$mediaMaxWidth: 768px;

@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "base/reboot";
@import "layout";
@import "pages/home";
@import "pages/about";
@import "pages/skill";
@import "pages/service";
@import "pages/experience";
@import "pages/personality";
@import "pages/contact";