.about-content {
  display: flex;

  .thumb {
    width: 120px;
    height: 120px;
    margin-right: 50px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  .content {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 12px;

    &::before {
      content: "";
      position: absolute;
      top: 50px;
      left: -12px;
      width: 0;
      height: 0;
      border-right: 12px solid rgba(0, 0, 0, 0.2);
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
    }
    .text {
      flex: 1;
      padding-right: 30px;
      font-size: 14px;
      line-height: 24px;
    }
    .bars {
      width: 40%;

      .bar-row {
        margin-bottom: 25px;

        &:last-child {
          margin-bottom: 0;
        }
      }
      .title {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3 {
          font-size: 16px;
        }
      }
      .bar {
        height: 8px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.2);

        div {
          height: 8px;
          border-radius: 8px;
        }

        &.bar-warning {
          div {
            background-color: $warning;
          }
        }
        &.bar-danger {
          div {
            background-color: $danger;
          }
        }
      }
    }
  }
}

@media (max-width: $mediaMaxWidth) {
  .about-content {
    flex-direction: column;

    .thumb {
      margin: 0 auto 20px auto;
    }
    .content {
      flex-direction: column;

      &::before {
        content: "";
        position: absolute;
        top: -12px;
        left: calc(50% - 12px);
        width: 0;
        height: 0;
        border-top: 0;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        border-bottom: 12px solid rgba(0, 0, 0, 0.2);
      }
      .text {
        width: 100%;
        padding-right: 0;
        margin-bottom: 30px;
      }
      .bars {
        width: 100%;
      }
    }
  }
}

@media print {
  .about-content {
    .content {
      border: 1px solid #000;
      background: #fff;

      &::before {
        border-right: 12px solid rgba(0, 0, 0, 1);
      }

      .bars {
        .bar {
          background: #fff;
  
          div {
            display: none;
          }
        }
      }
    }
  }
}