.skills {
  display: flex;
  flex-wrap: wrap;

  span {
    margin: 0 10px 10px 0;
    padding: 8px 18px;
    border-radius: 20px;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: $mediaMaxWidth) {

}

@media print {
  .skills {
    span {
      background: #fff;
      border: 1px solid #000;
      color: #000;
    }
  }
}